header{
    background-color: #343a40 !important;
}

#form{
    background-color: #de9440;
    border: 1px white solid;
}

#image{
    display: block;
    border: 2px black solid;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 70px;
}

.result{
    width: 300px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 30px;
}

.rox{
    border: 4px black solid;
}

h2{
    margin-bottom: 50px;
    font-size: 3em ;
}

.foreground{
    z-index: 1;
    position: absolute;
}

#nutriscore{
    border: 2px black solid;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: #86ebe6;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: -235px 0 0 230px;
    margin-bottom: 210px;
}

@media (min-width: 992) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 4vh;
    min-height: 18.2rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.delete, .save:hover{
   Color: #c45525;
   cursor: default;
}

a{
   Color: black ;
}

a:hover{
   Color: #c45525 ;
}

#green{
    Color: #124a18 ;
}

#red{
    Color: #c4101f;
}

h4{
    text-decoration: underline ;
    Color: #345a61;
    font-weight: bold ;
}

.max-width{
    width: 196px;
    margin: auto;
}

#direction-pages{
    margin: auto;
    text-align: center;
}

#pages{
    display: inline;
}

.page-section{
    min-height: 444px;
    text-align: center;
}

.pagination{
    width : 600px;
    margin: auto;
    display: inline;
}
